<html lang="fr">
<head>
    <style>
        table{
            width: 100%;
            border-collapse: collapse;
        }

        table th, td{
            border: solid 1px black;
        }

        .center{
            text-align: center;
        }

        .container{
            margin: 20px;
        }
    </style>
</head>
<body class="container">
    <div class="center">
        <h2>Rapport Automatique de suivi de l'avancement de saisie</h2>
        <p>
            Application: {{ app_name }}<br>
            Journée du {{ 'now'|date('d/m/Y') }}
        </p>
    </div>
    <table>
        <thead>
        <tr>
            <th class="center">Formulaire</th>
            <th class="center">Nombre de saisie</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for item in data %}
            {% set total = total + item['count'] %}
            <tr>
                <td>{{ item['entity'] }}</td>
                <td class="center">{{ item['count'] }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td class="center"><strong>{{ total }}</strong></td>
            </tr>
        </tbody>
    </table>
</body>
</html>